Repository AChase1/circlesxr_keepsake, pull requests merged in 2025-04, with the labels that each got.

#29 Playground room model updated
  package-lock.json
  package.json
  src/worlds/Keepsake-Gallery/assets/models/Nature Room/Bench.glb
  src/worlds/Keepsake-Gallery/assets/models/Nature Room/Lamp_Post.glb
  src/worlds/Keepsake-Gallery/assets/models/Nature Room/Nature_Room.glb
  src/worlds/Keepsake-Gallery/assets/models/Nature Room/Tree.glb
  src/worlds/Keepsake-Gallery/assets/models/Nature Room/Tree_Stump_1.glb
  src/worlds/Keepsake-Gallery/assets/models/Nature Room/Tree_Stump_2.glb
  src/worlds/Keepsake-Gallery/assets/models/Playground/Chair_Blue.glb
  src/worlds/Keepsake-Gallery/assets/models/Playground/Chair_Green.glb
  src/worlds/Keepsake-Gallery/assets/models/Playground/Chair_Orange.glb
  src/worlds/Keepsake-Gallery/assets/models/Playground/Chair_Yellow.glb
  src/worlds/Keepsake-Gallery/assets/models/Playground/Fence_Green.glb
  src/worlds/Keepsake-Gallery/assets/models/Playground/Fence_Red.glb
  src/worlds/Keepsake-Gallery/assets/models/Playground/Fence_Yellow.glb
  src/worlds/Keepsake-Gallery/assets/models/Playground/Monkey_Bar.glb
  src/worlds/Keepsake-Gallery/assets/models/Playground/Playground_Room.glb
  src/worlds/Keepsake-Gallery/assets/models/Playground/Slides.glb
  src/worlds/Keepsake-Gallery/assets/models/Playground/Table_Yellow.glb
  src/worlds/Keepsake-Gallery/components/gallery-theme.js
  src/worlds/Keepsake-Gallery/index.html
Labels: assets

#30 Few Fixes and Minimal NavMesh
  src/worlds/Keepsake-Gallery/assets/models/NavMeshes/LiminalNavMesh.glb
  src/worlds/Keepsake-Gallery/assets/models/NavMeshes/MinimalNavMesh.glb
  src/worlds/Keepsake-Gallery/assets/models/NavMeshes/PlaygroundNavMesh.glb
  src/worlds/Keepsake-Gallery/components/gallery-theme.js
  src/worlds/Keepsake-Gallery/index.html
Labels: bug, backend

#39 Final Sounds and Emojis
  src/worlds/Keepsake-Gallery/assets/models/smile_reaction.glb
  src/worlds/Keepsake-Gallery/assets/models/thumbsup_reaction.glb
  src/worlds/Keepsake-Gallery/components/orb-exit-sound.js
  src/worlds/Keepsake-Gallery/components/reaction-creator.js
  src/worlds/Keepsake-Gallery/index.html
  src/worlds/Keepsake/assets/sounds/ModelUpload.mp3
  src/worlds/Keepsake/components/orbs.js
  src/worlds/Keepsake/logic/s3.js
Labels: frontend, assets
